* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: left;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 2vw;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: skyblue;
    padding: 0.5vw 1vw;
    border: 1px solid transparent;
    transition: 0.8s ease;
    font-size: 2vw;
}

.main ul li a:hover {
    background-color: skyblue;
    color: #0b0c10;

}

ul li a.active {
    background-color: skyblue;
    color: black;
}

.logo img {
    float: left;
    width: 10vw;
    height: 8vw;
    transition: 0.4s ease;
}

.logo img:hover {
    transform: scale(1.2);
}
img#pp {
    margin-top: 8%;
    position: absolute;
    border: 1px solid skyblue;
    width: 100%;
    height: auto;
}
/*main {
    padding-top: 80vw;
    grid-row-gap: 15vw;
    grid-column-gap: 22vw;
    position: relative;
}*/

main {
    padding-top: 75vw;
   color: skyblue;
    padding-left: 4vw;
    display: grid;
    width: 90vw;
    grid-column-gap: 15vw;
    grid-row-gap: 10vw;
    grid-template-columns: 1fr ;
    grid-template-areas: "b1 b1 b1 b1"
        "b2 b2 b2 b2"
        "b3 b3 b3 b3"

}

    .box1 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
     color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b1;
    height: 18vw;


}

.box2 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
     color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b2;
    height: 14vw;

}

.box3 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
     color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b3;
    height: 14vw;

}
.icon {
    margin-top: 3vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    animation: fall 2s linear forwards;
}
.iconic img {
    height: 5vw;
    padding-left: 2vw;
    text-decoration: none;
    transition: 0.4s ease;
}

.iconic img:hover {
    transform: scale(1.5);
}
