* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: left;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 2vw;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: skyblue;
    padding: 0.5vw 1vw;
    border: 1px solid transparent;
    transition: 0.8s ease;
    font-size: 2vw;
}

.main ul li a:hover {
    background-color: skyblue;
    color: #0b0c10;

}

ul li a.active {
    background-color: skyblue;
    color: black;
}

.logo img {
    float: left;
    width: 10vw;
    height: 8vw;
    transition: 0.4s ease;
}

.logo img:hover {
    transform: scale(1.2);
}

/*.main {
    max-width: 1280px;
    margin: auto;
}*/

/*body {
    background-color: red;
    background-position: top;
    position: relative;
}*/

main {

    display: grid;
    //margin-top: 50vw;
    grid-column-gap: 23vw;
    grid-row-gap: 10vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "b1 b1 b2 b2"
        "b3 b3 b4 b4"
        "b5 b5 b5 b5"
}

.box1 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b1;
    height: 25vw;
    width: 40vw;
    margin-top: 25vw;
    justify-content: center;

}

.box2 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    border: 1px  solid skyblue;
    margin: 4px;
    grid-area: b2;
    height: 25vw;
    width: 40vw;
    margin-top: 25vw;


}

.box3 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
     color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b3;
    height: 25vw;
     width: 40vw;
    justify-content: center;

}
.box4 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b4;
    height: 25vw;
     width: 40vw;

}
.box5 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b5;
    height: 25vw;
     width: 40vw;

}

h1 a {
    text-decoration: none;
    color: skyblue;
}
h2 a {
    text-decoration: none;
    color: skyblue;
}
h3 a {
    text-decoration: none;
    color: skyblue;
}
h4 a {
    text-decoration: none;
    color: skyblue;
}
h5 a {
    text-decoration: none;
    color: skyblue;
}
.box1:hover {
    transform: scale(1.2);
}

.box2:hover {
    transform: scale(1.2);
}

.box3:hover {
    transform: scale(1.2);
}

.box4:hover {
    transform: scale(1.2);
}

.box5:hover {
    transform: scale(1.2);
}

.button {
  border: none;
    text-decoration-color: lightskyblue;
  color: lightskyblue;
    font-family: monopause;
  padding: 8px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: px;
  margin: 6px 2px;

  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: lightskyblue;
  color: lightskyblue;
}

.button1:hover {
  color: white;
}
@media only screen
and (min-device-width : 768px)
    and (max-device-width : 1024px){
         .box_1{
        position: absolute;
        width: 78vw;
        top: -3vw;
             left: -5vw;
    }


