* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    height: 100vh;
    background-size: cover;
    background-position: left;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 2vw;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: skyblue;
    padding: 0.5vw 1vw;
    border: 1px solid transparent;
    transition: 0.8s ease;
    font-size: 2vw;
}

.main ul li a:hover {
    background-color: skyblue;
    color: #0b0c10;

}

ul li a.active {
    background-color: skyblue;
    color: black;
}

.logo img {
    float: left;
    width: 10vw;
    height: 8vw;
    transition: 0.4s ease;
}

.logo img:hover {
    transform: scale(1.2);
}
main {
   color: skyblue;
    padding-left: 4vw;
    display: grid;
    width: 90vw;
    grid-column-gap: 23vw;
    grid-row-gap: 3vw;
    grid-template-columns: 1fr ;
    grid-template-areas: "b1 b1 b1 b1"
        "b2 b2 b2 b2"

}

.box1 {
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    height: 30vw;
    border: 1px solid skyblue;
    margin: 4px;
    grid-area: b1;
    margin-top: 5vw

}

.box2 {
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    color: skyblue;
    border: 1px  solid skyblue;
    margin: 4px;
    grid-area: b2;
    height: 50vw;
}


h3 a {
    color: skyblue;
}
.icon {
    margin-top: 3vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    animation: fall 2s linear forwards;
}
.iconic img {
    height: 5vw;
    padding-left: 2vw;
    text-decoration: none;
    transition: 0.4s ease;
}

.iconic img:hover {
    transform: scale(1.5);
}
